body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
  font-family: "Kumbh Sans", sans-serif;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  /* width: 340px; */
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
#image {
  position: absolute;
  top: 90px;
  left: 50px;
}
.img1 {
  width: 250px;
}
.img2 {
  margin: -80px 0 0 10px;
}
.img3,
.img4,
.img5 {
  display: none;
}
#faq {
  background-color: white;
  padding: 100px 20px 50px 20px;
  margin-top: 200px;
  margin-bottom: 50px;
  width: 300px;
  border-radius: 20px;
}
#faq h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
#faq .section {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  padding-bottom: 5px;
  color: gray;
}
#faq .section::before {
  content: url("/images/icon-arrow-down.svg");
  position: absolute;
  left: 300px;
}

#faq .section.active::before {
  transform: rotate(180deg);
  transition: 0.5s;
}

#faq .section .label {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 14px;
  cursor: pointer;
}
#faq .section .label:hover {
  color: hsl(14, 88%, 65%);
}
#faq .section .active .label {
  color: black;
}
#faq .section .content {
  width: 250px;
  margin-top: -35px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

#faq .active .content {
  height: 60px;
  transition: 0.5s;
}

@media only screen and (min-width: 1000px) {
  body {
    width: initial;
    overflow: hidden;
  }
  main {
    flex-direction: row;
    width: 70%;

    margin: auto;
    height: auto;
  }
  #image {
    position: relative;
    background-color: white;
    min-width: 250px;
    height: auto;
    margin: 110px 0 290px 0;
    border-radius: 20px 0 0 20px;
  }
  #faq {
    min-width: 500px;
    padding: 20px 120px 60px 120px;
    border-radius: 0 20px 20px 0;
    margin: 200px 0;
    height: auto;
  }
  .img1,
  .img2 {
    display: none;
  }

  .img3,
  .img4,
  .img5 {
    display: block;
    position: absolute;
  }
  .img3 {
    top: -80px;
    width: 600px;
    left: -170px;
  }
  .img4 {
    top: 10%;
    left: -5%;
    width: 400px;
    height: auto;
  }
  .img5 {
    top: 200px;
    left: -90px;
    top: 150px;
  }

  #faq h1 {
    text-align: left;
    margin-left: 150px;
  }
  #faq .section {
    width: 70%;
  }
  #faq .section {
    margin-left: 150px;
  }
  #faq .section::before {
    left: 850px;
  }
}
